.login-form{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #ece805e7,#ffffff );
}

.login-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}
.login-header img {
    width: 250px;
    margin-bottom: 20px;
}
.login-header h1{
    font-size: 2.5rem;
    color: #685903c7;
}
.login-input{
    border: 2px solid #303030c7;
    border-radius: 10px;
    color: #685903c7;
    font-size: 1.5rem;
    outline: 0;
    margin-bottom: 30px;
    max-width: 300px;
    width: 100%;
    padding: 10px;
}

.login-input::placeholder{
    color: #685903c7;
}

.login-button{
    background-color: #685903c7;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
    max-width: 300px;
    width: 100%;
}

.login-button:disabled{
    background-color: #ddddddc7;
    color: #303030c7;
    cursor: auto;
}